@mixin grid-column($value){
	$i: 1;
	@while $i<13{
		.#{$value}-#{$i} {
	        flex: 0 0 100%/(12/$i);
	        max-width: 100%/(12/$i);
	    }
		$i: $i +1 ;
	}
	$j: 1;
	@while $j<12{
		.#{$value}-o-#{$j} {
	    	margin-left: 100%/(12/$j);
			}
		$j: $j +1 ;
	}
}